:root {
	--container-width: 1430px;
	--container-padding: 15px;

	--page-bg: #171722;
	--text-color: #fff;
	--accent: #297019;
	--bg-color: #353542;
	--bg-color2: #212129;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}
